@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,700&display=swap');

*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body, input{
  font-family: Roboto;
}

/** Dashboard css **/
.dashboard{
  background-color: #E39695;
  width:100vw;
  height:100vh;
}


/**       1   Dashboard Navigation Section    1          **/
.nav-section{
  position: fixed;
  z-index: 1;
  background-color: #FF9494;
  left:0;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
}

/**       1.1   Dashboard Nav Header Section   1.1            **/

.nav-section-header{
  height:10%;
  width: 100%;
  margin-left:10%;
  display: flex;
  justify-content: space-between;
  border-bottom: solid .1rem #FFD1D1;
}

/**       1.1.1     Header Pic        1.1.1                      **/
.nav-header-pic{
  height:100%;
  width: 20%;
  overflow: hidden;
  display:flex;
  justify-content:center;
  align-items:center;
}

.nav-header-pic-img{
  max-height:80%;
  max-width: 80%;
  object-fit: cover;
  object-position: cover;
  
}
.nav-header-pic img{
  flex-shrink: 0;
}
/** -------------- 1.1.1 -------- End ----------- 1.1.1 --------- **/

/**       1.1.2     Header Info         1.1.2                      **/
.nav-header-info{
  height: 100%;
  width:70%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.nav-header-info h1{
  font-weight: 500;
  font-size: 1.8rem;
}

/** -------------- 1.1.2 -------- End ----------- 1.1.2 --------- **/

/** --------------- 1.1 ----------End------------ 1.1 ---------- **/                 

/**         1.2  Dashboard   Nav Body Section     1.2 ----------   **/

.nav-section-body{
  height:60%;
  width:100%;
  margin-left: 10%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.nav-section-body a{
  text-decoration: none;
}

/**             1.2.1 Naigation Body List       1.2.1                 **/

.nav-body-list{
  height: 25%;
  width: 90%; 
  display:flex;
  justify-content: space-between;
  position: relative;
}

.nav-body-list:hover{
  background-color: #FFF5E4;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.nav-body-list:hover .nav-body-pic ion-icon{
  color:black;
}

.nav-body-list:hover .nav-body-info span{
  color:black;
  
}

.nav-body-list:hover::before{
  content: "";
  background: transparent;
  height:50px;
  width: 50px;
  position: absolute;
  top:-50px;
  right: 0;
  border-radius:50%;
  box-shadow: 35px 35px 0 10px #FFF5E4;
  pointer-events: none;
}

.nav-body-list:hover::after{
  content: "";
  height:50px;
  width: 50px;
  position: absolute;
  bottom:-50px;
  background: transparent;
  right:0;
  border-radius:50%;
  box-shadow: 35px -35px 0 10px #FFF5E4;
  border: none;
  pointer-events: none;
}

.nav-body-pic{
  height: 100%;
  width:20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-body-pic ion-icon{
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  font-size: 2rem;
  color:black;
}
.nav-body-info{
  height: 100%;
  width:70%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.nav-body-info span{
  color: #FFF5E4;
  font-size:1.2rem;
  font-weight: 600;
  transition: .3s;
}
/** ------------1.2.1 -------- End ------------- 1.2.1 -------------- **/
/** -----------------1.2  --------End------------- 1.2 -----------   **/

/**                   1.3  Nav Footer Section  1.3                   **/

.nav-section-footer{
  width:80%;
  height:10%;
  margin-left:10%;
  display:flex;
  justify-content:space-between;
  margin-bottom: 10%;
  background-color: #FFD1D1;
  border-radius: 1rem;
}

.footer-header-pic{
  height: 100%;
  width:20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-header-pic ion-icon{
   max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  font-size: 2rem;
  color:black;
}

.footer-header-info{
  height: 100%;
  width:70%;
  display: flex;
  align-items: center;
  transition: .8s;
}

.nav-section-footer:hover{
  background-color:#FFF5E4;
}
.nav-section-footer:hover .footer-header-info{
  padding-left: 2rem; 
}

.footer-header-info span{
  font-size:1.2rem;
  font-weight: 400;
}
/** ------------------  1.3   --------- End -------- 1.3 ------------- **/


/** ----- 1   End of Dashboard Nav Section 1 ------------ **/



/**        2  Dashboard Content Section     2               **/
.content-section{
  position: absolute;
  left:25%;
  z-index:2;
  background-color: black;
  width: 75%;
  height: 100%;
  display:flex;
  flex-direction:column;
  transition: .8s;
}

.content-section.nav-toggle{
  left:8%;
  width:92%;
}

/**         2.1 Content Header Section      2.1                  **/

.content-header{
  background-color: #FFD1D1;
  height: 10%;
  width:100%;
  display:flex;
  justify-content: space-between;
}

.header-left{
  height:100%;
  width:10%;
  display:flex;
  justify-content:center;
  align-items:center;
  transition:.8s;
}

.header-left ion-icon{
  font-size: 2rem;
  transition:.8s;
  
}

.header-left ion-icon:hover{
  font-size: 2.5rem;
  color:#FF9494;
}

.header-left ion-icon.clicked{
  transform: rotate(180deg);
} 

.header-left:hover{
  background-color: #FFF5E4;
}

.header-right{
  height: 100%;
  width: 30%;
  display:flex;
  justify-content: end;
  padding-right: 2rem;
  transition: .8s
}

.header-right .right-pic{
  background-color: white;
  height: 3rem;
  width: 3rem;
  overflow:hidden;
  margin-top:.4rem;
  border-radius: 50%;
  transition: .3s;
}

.header-right:hover{
  background-color: #FFF5E4;
}
.header-right .right-pic:hover{
  border: solid .2rem #FF9494;
}

.header-right.header-right-active{
  background-color: #FFF5E4;
}
.header-right .right-pic.right-pic-active{
  border: solid .2rem #FF9494;
}

.header-right .right-pic img{
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.header-right .right-text{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}
/** ------  2.1   End of Content Header      2.1  --------------  **/

/**         2.2 Content   Body    Section     2.2                  **/
.content-body{
  background-color: #FFF5E4;
  width:100%;
  height:80%;
  position: relative;
  display:flex;
  justify-content:center;
  align-items:center;
}

.profile-edit{
  z-index: 2;
  position: absolute;
  width:40%;
  height: 80%;
  background-color: #FFF5E4;
  right:0;
  top:0;
  border-bottom-left-radius: .4rem;
  box-shadow: -4px 4px 8px 0px rgba(0, 0, 0, .5);
  display:flex;
  flex-direction:column;
  visibility: hidden;
  transition: .2s;
}

.profile-edit.active-profile-edit{
  visibility: visible;
}
.edit-header{
  display: flex;
  height: 10%;
  width:100%;
  margin-bottom:1rem;
}
.edit-image img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.edit-header-close{
  height: 100%;
  width:15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-header-close ion-icon{
  font-size: 2rem;
}
.edit-header-title{
  width:70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:1.2rem;
  font-weight: 600;
  background-color: #FFD1D1;
  border-radius: .2rem;
  padding:0 .5rem;
}

.edit-header-save{
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right:.4rem;
}
.edit-header-save span{
  background-color: black;
  padding:.4rem;
  color:#FFF5E4;
  border-radius: 1rem
}

.edit-image{
  height: 35%;
}

.edit-image-button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-image ion-icon{
  position: absolute;
  background-color: rgba(0,0,0,.5);
  padding:.5rem;
  color:#FFF5E4;
  border-radius: 50%;
}
.edit-image ion-icon:hover{
  background-color: black;
}
.edit-username{
  height: 20%;
  display: flex;
  flex-direction: column;
  padding:0 2rem;
}

.edit-username label{
  margin-bottom:.5rem;
}

.edit-username input{
  height: 40%;
  border-radius: .3rem;
  border:solid .1rem;
  background-color: #FFF5E4;
}
.edit-email{
  height: 20%;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.edit-email label{
  margin-bottom: .5rem;
}

.edit-email input{
  height: 40%;
  border-radius: .3rem;
  border: solid .1rem;
  background-color: #FFF5E4;
}

.dashboard-box{
  z-index: 1;
  width:80%;
  height:80%;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  position: relative;
  transition: .8s ease-in-out;
  border-radius: 2rem;
  box-shadow: 5px 5px 20px 10px rgba(0,0,0,.25);
}

.dashboard-box-pics{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.image{
  object-fit: cover;
  object-position: center;
  width:100%;
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  opacity: 0;
  transition: opacity 0.3s, transform 0.5s;
}
.img-1{
  transform: translate(0, -50px)
}
.img-2{
  transform: scale(0.4, 0.5)
}
.img-3{
  transform: scale(0.3) rotate(-20deg);
}
.image.show{
  opacity:1;
  transform: none;
}

.dashboard-box-text{
  position: absolute;
  height: 100%;
  width:50%;
  background-color: rgba(0,0,0,.4);
  right:0;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.box-text-header{
  width:100%;
  height:20%;
  display:flex;
  justify-content: center;
  align-items: center;
}
@keyframes text-anims{
  0% {transform:translateY(-.5rem); opacity:0}
  25% {opacity:.25}
  50% {transform:translateY(1rem); opacity:5}
  100% {transform:translateY(0); opacity:1}
}
.text-anims{
  animation-name: text-anims;
  animation-duration:3s;
}
.header-list-cont{
  overflow:hidden;
}
.box-text-header-list{
  display: flex;
  flex-direction: column;
  max-height: 2.2rem;
  transform:translateY(0);
  transition:0.5s;
}
.box-text-header span{
  line-height: 2.2rem;
  color:#FFF5E4;
  font-size:1.4rem;
  font-weight: 400;
}

.box-text-body{
  width:100%;
  height:40%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.body-list-cont{
  overflow:hidden;
}
.box-text-body-list{
  display: flex;
  flex-direction: column;
  height: 9.0rem;
  transform: translateY(0);
  padding:0 2rem;
}
.box-text-body-list span{
  height:6.0rem;
  color:#FFF5E4;
  font-size:1.2rem;
  font-weight: 400;
}
.box-text-footer{
  width:100%;
  height:20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-footer-expl{
  background-color: #FF9494;
  color:#FFF5E4;
  padding:.8rem;
  border-radius: 1rem;
}
/** ------  2.2   End of   Body  Section      2.2  --------------  **/

/**         2.3 Content   Footer   Section      2.3                  **/


/** ----------  2.3   End of Content Footer      2.3  --------------  **/
.content-footer{
  background-color: #FFD1D1;
  width: 100%;
  height:10%;
  display:flex;
  justify-content:space-around;
  align-items:center;
}
.content-footer span{
  width:3rem;
  height:3rem;
  border-radius:50%;
  background-color: transparent;
  border:solid .2rem;
  display:flex;
  justify-content:center;
  align-items:center;
  transition:.5s;
}
.content-footer span ion-icon{
  pointer-events:none;
  font-size:1.5rem;
}
.content-footer span.bullet-active{
  background-color:#FFF5E4;
  border: solid .3rem #FF9494;
}
/** ----   2  End of Dashboard Content Section  2    ------------ **/
